<div class="main-menu-container">
  <ul
    class="nav nav-pills justify-content-center container-sm px-2"
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active btn-primary"
        id="pills-appetizers-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-appetizers"
        type="button"
        role="tab"
        aria-controls="pills-appetizers"
        aria-selected="true"
      >
        {{ dishTypes.APPETIZERS }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-pizza-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-pizza"
        type="button"
        role="tab"
        aria-controls="pills-pizza"
        aria-selected="false"
      >
        {{ dishTypes.PIZZA }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-soaps-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-soaps"
        type="button"
        role="tab"
        aria-controls="pills-soaps"
        aria-selected="false"
      >
        {{ dishTypes.SOUPS }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-pasta-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-pasta"
        type="button"
        role="tab"
        aria-controls="pills-pasta"
        aria-selected="false"
      >
        {{ dishTypes.PASTA }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-desserts-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-desserts"
        type="button"
        role="tab"
        aria-controls="pills-desserts"
        aria-selected="false"
      >
        {{ dishTypes.DESSERTS }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-drinks-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-drinks"
        type="button"
        role="tab"
        aria-controls="pills-drinks"
        aria-selected="false"
      >
        {{ dishTypes.DRINKS }}
      </button>
    </li>
  </ul>

  <div>
    <div class="tab-content" id="pills-tabContent">
      <div class="d-flex justify-content-center">
        <app-spinner [size]="spinnerSize"></app-spinner>
      </div>

      <ng-container *ngIf="isLoaded">
        <div
          class="tab-pane fade show active"
          id="pills-appetizers"
          role="tabpanel"
          aria-labelledby="pills-appetizers-tab"
          tabindex="0"
        >
          <app-dishes
            [type]="dishTypes.APPETIZERS"
            [allDishes]="dishes"
          ></app-dishes>
        </div>
        <div
          class="tab-pane fade"
          id="pills-pizza"
          role="tabpanel"
          aria-labelledby="pills-pizza-tab"
          tabindex="0"
        >
          <app-dishes
            [type]="dishTypes.PIZZA"
            [allDishes]="dishes"
          ></app-dishes>
        </div>
        <div
          class="tab-pane fade"
          id="pills-soaps"
          role="tabpanel"
          aria-labelledby="pills-soaps-tab"
          tabindex="0"
        >
          <app-dishes
            [type]="dishTypes.SOUPS"
            [allDishes]="dishes"
          ></app-dishes>
        </div>
        <div
          class="tab-pane fade"
          id="pills-pasta"
          role="tabpanel"
          aria-labelledby="pills-pasta-tab"
          tabindex="0"
        >
          <app-dishes
            [type]="dishTypes.PASTA"
            [allDishes]="dishes"
          ></app-dishes>
        </div>
        <div
          class="tab-pane fade"
          id="pills-desserts"
          role="tabpanel"
          aria-labelledby="pills-desserts-tab"
          tabindex="0"
        >
          <app-dishes
            [type]="dishTypes.DESSERTS"
            [allDishes]="dishes"
          ></app-dishes>
        </div>
        <div
          class="tab-pane fade"
          id="pills-drinks"
          role="tabpanel"
          aria-labelledby="pills-drinks-tab"
          tabindex="0"
        >
          <app-dishes
            [type]="dishTypes.DRINKS"
            [allDishes]="dishes"
          ></app-dishes>
        </div>
      </ng-container>
    </div>
  </div>
</div>
