<form appFocusInvalidInput [formGroup]="recoverForm" (submit)="onSubmit()">
  <h1 class="text-primary text-center mb-2 recover">Forgot password?</h1>
  <h6 class="text-center mb-3">
    Enter your email. We will send you email with link to restart your password.
  </h6>
  <div class="form-field input-field">
    <label class="form-label">Email address</label>
    <input
      type="text"
      class="form-control"
      formControlName="email"
      placeholder="name@address.com"
      [class.is-invalid]="
        (recoverForm.controls.email.invalid &&
          recoverForm.controls.email.touched) ||
        (submitted && recoverForm.controls.email.invalid)
      "
    />
    <div
      *ngIf="
        (recoverForm.controls.email.invalid &&
          recoverForm.controls.email.touched) ||
        (submitted && recoverForm.controls.email.invalid)
      "
      class="text-danger"
    >
      <small> {{ getErrorMessage(recoverForm.controls.email) }}</small>
    </div>
  </div>
  <div class="form-field">
    <button class="btn btn-primary mx-4 mt-3" type="submit">Send</button>
  </div>
  <p class="text-center mt-2">
    Back to login. <a routerLink="/auth/login">Sign in</a>
  </p>
</form>
