<form
  appFocusInvalidInput
  [formGroup]="recoverForm"
  (submit)="onSubmit()"
  @fadeIn
>
  <h1 class="text-primary text-center mb-2 recover">Forgot password?</h1>
  <h6 class="text-center mb-3">
    Enter your email. We will send you email with link to restart your password.
  </h6>
  <div *ngIf="error" class="alert mb-1" role="alert">
    <div class="d-flex align-items-center">
      <i class="bi bi-x-square-fill text-danger m-0"></i>
      <span class="text-error">{{ error }} </span>
    </div>
  </div>
  <div class="form-field input-field">
    <label class="form-label" for="emailInput">Email address</label>
    <input
      type="text"
      class="form-control"
      formControlName="email"
      placeholder="name@address.com"
      id="emailInput"
      [class.is-invalid]="checkControlInvalid(recoverForm.controls.email)"
    />
    <div
      *ngIf="checkControlInvalid(recoverForm.controls.email)"
      class="text-danger"
    >
      <small> {{ getErrorMessage(recoverForm.controls.email) }}</small>
    </div>
  </div>
  <div class="form-field">
    <button *ngIf="!isLoading" class="btn btn-primary mx-4 mt-3" type="submit">
      Send
    </button>

    <div *ngIf="isLoading" class="mx-auto">
      <app-spinner [size]="spinnerSize"></app-spinner>
    </div>
  </div>
  <p class="text-center mt-2">
    Back to login.
    <a href="javascript:void(0);" (click)="changeDisplay()">Sign in</a>
  </p>
</form>
