.form-field {
  width: 300px;
}

.alert {
  width: 300px;
  padding: 0 20px;
}

.text-error {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 14px;
  margin-left: 4px;
}

.spinner {
  flex-basis: 100%;
}

.bi.status {
  font-size: 5rem;
  flex-basis: 100%;
}
