<div
  class="container d-flex flex-wrap h-100 justify-content-center align-items-center"
>
  <div class="content d-flex flex-wrap justify-content-center">
    <div class="left-side d-flex flex-wrap justify-content-center">
      <app-reservation-button
        displayedOn="contact"
        class="mb-2"
      ></app-reservation-button>
      <div class="container-text text-center text-primary">
        <h6 class="mb-0">Monday to Sunday</h6>
        <h6 class="mb-4">From 12:00 am to 11:00 pm</h6>
        <h6 class="mb-0">Tel. 000 000 000</h6>
        <h6 class="mb-4">navbar@example.com</h6>
        <h6 class="mb-4">Sample Street 10, 12-345 City</h6>
      </div>
    </div>
    <div class="right-side bg-primary">
      <app-google-map></app-google-map>
    </div>
  </div>
</div>
