.image {
  background-position: bottom 40% right 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

.dish-container {
  width: 350px;
}

.text {
  float: left;
  font-size: 1.8rem;
}

.text.dish.name {
  font-weight: 500;
}

.text.dish.price {
  float: right;
}

.text.dish.ingredients {
  font-size: 22px;
}

.dishes-container {
  flex-basis: 100%;
}

.dish-icon {
  font-size: 1.8rem;
}

.btn-filter.spicy {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-filter.vegan {
  color: #198754;
  border-color: #198754;
}

.btn-filter.active {
  color: white;
}

.active.spicy {
  background-color: #dc3545;
}

.active.vegan {
  background-color: #198754;
}

@media (max-width: 600px) {
  .text {
    font-size: 20px;
  }
  .text.dish.ingredients {
    font-size: 16px;
  }
  .image {
    height: 150px;
  }
  .dish-container {
    width: 250px;
  }
}

@media (max-height: 700px) {
  .container {
    max-height: 44vh;
    overflow-y: scroll;
  }
}
