.navbar {
  padding: 1rem 3rem;
}

.nav-link.active,
.nav-link:hover {
  background-color: rgba(78, 81, 64, 0.9);
  color: white;
}

.nav-link {
  line-height: 35px;
  padding: 0;
  background-color: #f3f2f1;
  margin: 2px 0;
  width: 100px;
}

a.nav-link,
a.navbar-brand {
  text-align: center;
  color: #4e5140;
}

.nav-item {
  font-weight: 500;
  font-size: 1rem;
}

.navbar-brand {
  padding: 0;
}

.navbar-collapse.collapse.show,
.navbar,
.container-fluid {
  max-height: 76px;
}

.nav-item,
.navbar-nav {
  margin: 0 0 0 auto;
  width: 100px;
}

.navbar-collapse.collapse.show {
  max-height: 0px;
}

@media (max-width: 600px) {
  .navbar {
    padding: 0.5rem 0;
  }
}
