<swiper-container #swiperRef swiperElement [config]="config" class="swiper">
  <swiper-slide class="swiper-slide">
    <img
      style="height: 400px"
      src="/assets/jpg/gallery-1.jpg"
      alt="randomized image"
      class="swiper-image"
    />
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <img
      style="height: 400px"
      src="/assets/jpg/gallery-1.jpg"
      alt="randomized image"
      class="swiper-image"
    />
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <img
      style="height: 400px"
      src="/assets/jpg/gallery-1.jpg"
      alt="randomized image"
      class="swiper-image"
    />
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <img
      style="height: 400px"
      src="/assets/jpg/gallery-1.jpg"
      alt="randomized image"
      class="swiper-image"
    />
  </swiper-slide>
  <swiper-slide class="swiper-slide">
    <img
      style="height: 400px"
      src="/assets/jpg/gallery-1.jpg"
      alt="randomized image"
      class="swiper-image"
    />
  </swiper-slide>
</swiper-container>
