<ng-container *ngIf="isTokenValid">
  <form
    appFocusInvalidInput
    [formGroup]="recoverForm"
    (submit)="onSubmit()"
    @fadeIn
  >
    <h1 class="text-primary text-center login">Reset password</h1>
    <div class="form-field input-field">
      <label class="form-label" for="passwordInput">New password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Enter your new password"
        id="passwordInput"
        [class.is-invalid]="checkControlInvalid(recoverForm.controls.password)"
      />
      <div
        *ngIf="checkControlInvalid(recoverForm.controls.password)"
        class="text-danger"
      >
        <small> {{ getErrorMessage(recoverForm.controls.password) }}</small>
      </div>
    </div>
    <div class="form-field input-field">
      <label class="form-label" for="repeatPasswordInput"
        >Repeat new password</label
      >
      <input
        type="password"
        class="form-control"
        formControlName="repeatPassword"
        placeholder="Enter your password"
        id="repeatPasswordInput"
        [class.is-invalid]="
          checkControlInvalid(recoverForm.controls.repeatPassword)
        "
      />
      <div
        *ngIf="checkControlInvalid(recoverForm.controls.repeatPassword)"
        class="text-danger"
      >
        <small>
          {{ getErrorMessage(recoverForm.controls.repeatPassword) }}</small
        >
      </div>
    </div>
    <div class="form-field button">
      <button class="btn btn-primary mx-4 mt-1" type="submit">Reset</button>
    </div>
  </form>
</ng-container>
