.mat-column-name {
  width: 180px;
}

h6 span {
  font-weight: 400;
}

.input-group.reason-select {
  width: 300px;
}

form {
  margin-top: 20px;
  width: 90%;
  box-sizing: border-box;
}

.element-row td {
  border-bottom-width: 0;
}
