<div *ngIf="user" class="d-flex h-100">
  <div class="container-nav d-flex flex-column bg-primary p-3 shadow">
    <h3 class="text-white">
      <span class="text-capitalize">{{ user.role.toLowerCase() }}</span>
      dashboard
    </h3>
    <hr />
    <div
      class="nav nav-pills flex-column align-items-center"
      id="pills-tab"
      role="tablist"
    >
      <button
        class="nav-link text-white active"
        id="pills-reservations-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-reservations"
        type="button"
        role="tab"
        aria-controls="pills-reservations"
        aria-selected="true"
        (click)="fetchData('reservations')"
      >
        <i class="bi bi-calendar-day"></i>
        Reservations
      </button>
      <button
        class="nav-link text-white"
        id="pills-dishes-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-dishes"
        type="button"
        role="tab"
        aria-controls="pills-dishes"
        aria-selected="false"
        (click)="fetchData('dishes')"
      >
        <i class="bi bi-clipboard2"></i>
        Menu
      </button>
      <button
        *ngIf="user.role === 'MANAGER'"
        class="nav-link text-white"
        id="pills-workers-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-workers"
        type="button"
        role="tab"
        aria-controls="pills-workers"
        aria-selected="false"
        (click)="fetchData('workers')"
      >
        <i class="bi bi-person"></i>
        Workers
      </button>
    </div>
    <hr class="mt-auto" />
    <button
      class="nav-link text-white mx-auto"
      type="button"
      role="tab"
      (click)="logout()"
    >
      <i class="bi bi-door-closed"></i>
      Logout
    </button>
  </div>
  <div class="content tab-content px-4 pt-3" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-reservations"
      role="tabpanel"
      aria-labelledby="pills-reservations-tab"
      tabindex="0"
    >
      <h3>Reservations</h3>
      <app-reservations></app-reservations>
    </div>
    <div
      class="tab-pane fade show"
      id="pills-dishes"
      role="tabpanel"
      aria-labelledby="pills-dishes"
      tabindex="0"
    >
      <h3>Dishes</h3>
      <app-dishes></app-dishes>
    </div>
    <div
      class="tab-pane fade show"
      id="pills-workers"
      role="tabpanel"
      aria-labelledby="pills-workers"
      tabindex="0"
    >
      <h3>Workers</h3>
      <app-workers></app-workers>
    </div>
  </div>
</div>
