.container-nav {
  min-width: 275px;
}

.nav-link {
  width: 175px;
  color: white;
  border-radius: 0;
  font-weight: 500;
  font-size: 1rem;
  height: 40px;
}

.nav-link.active,
.nav-link:hover {
  background-color: #767968;
}
