<div class="wrapper">
  <div
    class="container d-flex align-items-center justify-content-center"
    @fadeIn
  >
    <div class="row shadow">
      <div class="col-md-6 side-image"></div>
      <div class="col-md-6 side-form">
        <ng-container *ngIf="!displayRecover">
          <app-login
            (changeComponent)="changeDisplay($event)"
            *ngIf="display === allDisplays.LOGIN"
          ></app-login>
          <app-register
            (changeComponent)="changeDisplay($event)"
            *ngIf="display === allDisplays.REGISTER"
          ></app-register>
          <app-forgot-password
            (changeComponent)="changeDisplay($event)"
            *ngIf="display === allDisplays.FORGOT"
          ></app-forgot-password>
        </ng-container>

        <ng-container *ngIf="displayRecover">
          <router-outlet (deactivate)="onDeactivate()"></router-outlet>
        </ng-container>
      </div>
    </div>
  </div>
</div>
