<div class="wrapper">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row shadow">
      <div class="col-md-6 side-image"></div>
      <div class="col-md-6 side-form">
        <app-login
          (changeComponent)="changeDisplay($event)"
          *ngIf="display === allDisplays.LOGIN"
        ></app-login>
        <app-register
          (changeComponent)="changeDisplay($event)"
          *ngIf="display === allDisplays.REGISTER"
        ></app-register>
        <app-forgot-password
          (changeComponent)="changeDisplay($event)"
          *ngIf="display === allDisplays.RECOVER"
        ></app-forgot-password>
      </div>
    </div>
  </div>
</div>
