form {
  width: 330px;
  box-sizing: border-box;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 20px;
}

.input-field {
  min-height: 86px;
}

.form-label {
  margin-bottom: 0px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
