<form appFocusInvalidInput [formGroup]="loginForm" (submit)="onSubmit()">
  <h1 class="text-primary text-center login">Log in</h1>
  <div class="form-field input-field">
    <label class="form-label" for="emailInput">Email address</label>
    <input
      type="text"
      class="form-control"
      formControlName="email"
      placeholder="name@address.com"
      id="emailInput"
      [class.is-invalid]="checkControlInvalid(loginForm.controls.email)"
    />
    <div
      *ngIf="checkControlInvalid(loginForm.controls.email)"
      class="text-danger"
    >
      <small> {{ getErrorMessage(loginForm.controls.email) }}</small>
    </div>
  </div>
  <div class="form-field input-field">
    <label class="form-label" for="passwordInput">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Enter your password"
      id="passwordInput"
      [class.is-invalid]="checkControlInvalid(loginForm.controls.password)"
    />
    <div
      *ngIf="checkControlInvalid(loginForm.controls.password)"
      class="text-danger"
    >
      <small> {{ getErrorMessage(loginForm.controls.password) }}</small>
    </div>
  </div>
  <div class="form-field">
    <button class="btn btn-primary mx-4 mt-1" type="submit">Login</button>
  </div>
  <p class="text-center mt-2 mb-0">
    Don't have an account?
    <a href="javascript:void(0);" (click)="changeDisplay(allDisplays.REGISTER)"
      >Sign up</a
    >
  </p>
  <p class="text-center mb-0">
    <a href="javascript:void(0);" (click)="changeDisplay(allDisplays.RECOVER)"
      >Forgot your password?</a
    >
  </p>
</form>
