<div class="wrapper">
  <div class="container main">
    <div class="row shadow">
      <div class="col-md-6 side-image"></div>
      <div class="col-md-6 side-form">
        <form [formGroup]="loginForm" (submit)="onSubmit()" class="login-form">
          <h1 class="text-primary">Welcome</h1>
          <div class="input-field">
            <label class="form-label">Email address</label>
            <input
              type="text"
              class="form-control"
              formControlName="email"
              placeholder="name@address.com"
              [class.is-invalid]="
                loginForm.controls.email.invalid &&
                loginForm.controls.email.touched
              "
            />
            <div
              *ngIf="
                loginForm.controls.email.invalid &&
                loginForm.controls.email.touched
              "
              class="text-danger"
            >
              <small>Please provide a valid email.</small>
            </div>
          </div>
          <div class="input-field">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Enter your password"
            />
            <div class="invalid-feedback">Please provide a valid city.</div>
          </div>
          <div class="input-field">
            <a href="">Forgot your password?</a>
            <button class="btn btn-primary px-5" type="submit">Login</button>
          </div>
          <div class="input-field text-center">
            <p>Don't have an account? <a href="">Sign up.</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
