<div class="container d-flex flex-wrap">
  <div
    class="nav nav-pills align-items-center bg-primary shadow p-3"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <button
      class="nav-link active"
      id="v-pills-reservations-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-reservations"
      type="button"
      role="tab"
      aria-controls="v-pills-reservations"
      aria-selected="true"
      (click)="changeDisplay()"
    >
      <i class="bi bi-calendar-day"></i>
      Reservations
    </button>
    <button
      class="nav-link"
      id="v-pills-change-password-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-change-password"
      type="button"
      role="tab"
      aria-controls="v-pills-change-password"
      aria-selected="false"
    >
      <i class="bi bi-person-fill-lock"></i>
      Password
    </button>
    <app-reservation-button displayedOn="account"></app-reservation-button>
  </div>
  <div class="content tab-content shadow" id="v-pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="v-pills-reservations"
      role="tabpanel"
      aria-labelledby="v-pills-reservations-tab"
      tabindex="0"
    >
      <app-reservations></app-reservations>
    </div>
    <div
      class="tab-pane fade show"
      id="v-pills-change-password"
      role="tabpanel"
      aria-labelledby="v-pills-change-password-tab"
      tabindex="0"
    >
      <app-change-password></app-change-password>
    </div>
  </div>
</div>
