<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">
          Make a reservation
        </h1>
        <button
          type="button"
          class="btn-close text-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-center flex-wrap">
        <div *ngIf="!selectedHour" @fadeIn>
          <div
            class="container d-flex flex-wrap align-content-center justify-content-center"
          >
            <select
              class="form-select mb-2 mx-2"
              id="peopleSelect"
              aria-label="Default select example"
              [(ngModel)]="selectedPeopleNumber"
              (ngModelChange)="dataSelected()"
            >
              <option value="1" selected>One People</option>
              <option value="2">Two People</option>
              <option value="3">Three People</option>
              <option value="4">Four People</option>
            </select>
            <mat-card class="inline-calendar-card mb-2">
              <mat-calendar
                [(selected)]="selectedDate"
                [minDate]="minDate"
                [maxDate]="maxDate"
                (selectedChange)="dataSelected()"
              ></mat-calendar>
            </mat-card>
          </div>

          <div
            class="container-hours d-flex flex-wrap align-content-center justify-content-center mx-auto"
          >
            <ng-container *ngIf="!selectedDate">
              <div class="text-center">
                <h5>Pleace select a date</h5>
                <h6>So that we can show the available hours</h6>
              </div>
            </ng-container>
            <ng-container *ngIf="selectedDate">
              <app-spinner></app-spinner>
              <ng-container *ngIf="dataLoaded && availableHours.length === 0"
                ><div class="text-center">
                  <h5>We are sorry, all hours are reserved</h5>
                  <h6>Please select a different date</h6>
                </div>
              </ng-container>

              <ng-container *ngFor="let hour of availableHours">
                <div class="container-hour" @fadeIn>
                  <button
                    type="button"
                    class="btn btn-hour my-1 mx-1"
                    (click)="hourSelected(hour)"
                  >
                    {{ hour }}
                  </button>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>

      <div *ngIf="selectedHour" @fadeIn class="container">
        <div class="text-center">
          <span class="reservation-details text-primary">
            Reservation for
            <strong>{{ selectedPeopleNumber }} people</strong> on
            <strong>{{ formatedDate }}</strong> at
            <strong>{{ selectedHour }}</strong
            >.
          </span>
        </div>

        <form
          appFocusInvalidInput
          [formGroup]="reservationForm"
          (submit)="onSubmit()"
          class="my-4 mx-auto d-flex flex-wrap justify-content-center"
          id="reservationForm"
        >
          <div class="form-field input-field">
            <label class="form-label" for="firstNameInput">First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              placeholder="Enter your first name"
              id="firstNameInput"
              [class.is-invalid]="
                checkControlInvalid(reservationForm.controls.firstName)
              "
              style="text-transform: capitalize"
            />
            <div
              *ngIf="checkControlInvalid(reservationForm.controls.firstName)"
              class="text-danger"
            >
              <small>
                {{ getErrorMessage(reservationForm.controls.firstName) }}</small
              >
            </div>
          </div>

          <div class="form-field input-field">
            <label class="form-label" for="secondNameInput">Second Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="secondName"
              placeholder="Enter your second name"
              id="secondNameInput"
              [class.is-invalid]="
                checkControlInvalid(reservationForm.controls.secondName)
              "
              style="text-transform: capitalize"
            />
            <div
              *ngIf="checkControlInvalid(reservationForm.controls.secondName)"
              class="text-danger"
            >
              <small>
                {{
                  getErrorMessage(reservationForm.controls.secondName)
                }}</small
              >
            </div>
          </div>
          <div class="form-field input-field">
            <label class="form-label" for="emailInput">Email address</label>
            <input
              type="text"
              class="form-control"
              formControlName="email"
              placeholder="name@address.com"
              id="emailInput"
              [class.is-invalid]="
                checkControlInvalid(reservationForm.controls.email)
              "
            />
            <div
              *ngIf="checkControlInvalid(reservationForm.controls.email)"
              class="text-danger"
            >
              <small>
                {{ getErrorMessage(reservationForm.controls.email) }}</small
              >
            </div>
          </div>
          <div class="form-field input-field">
            <label class="form-label" for="phoneInput">Phone number</label>
            <input
              type="text"
              class="form-control"
              formControlName="phone"
              [mask]="'000 000 000'"
              placeholder="000 000 000"
              id="phoneInput"
              [class.is-invalid]="
                checkControlInvalid(reservationForm.controls.phone)
              "
            />
            <div
              *ngIf="checkControlInvalid(reservationForm.controls.phone)"
              class="text-danger"
            >
              <small>
                {{
                  getErrorMessage(
                    reservationForm.controls.phone,
                    "phone number"
                  )
                }}</small
              >
            </div>
          </div>
          <div class="form-field input-field text-area">
            <label class="form-label" for="requestsInput"
              >Optional requests</label
            >
            <textarea
              type="text"
              class="form-control"
              formControlName="requests"
              placeholder="Optional requests"
              id="requestsInput"
              rows="2"
            ></textarea>
          </div>
          <div class="container-additional-options mt-2">
            <h6>Additional options:</h6>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="wheelchairCheckbox"
                formControlName="wheelchair"
              />
              <label class="form-check-label" for="wheelchairCheckbox"
                >Wheelchair Access</label
              >
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="babyCheckbox"
                formControlName="baby"
              />
              <label class="form-check-label" for="babyCheckbox">Baby</label>
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="cakeCheckbox"
                formControlName="cake"
              />
              <label class="form-check-label" for="cakeCheckbox"
                >Birthday Cake</label
              >
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer bg-primary">
        <button
          *ngIf="selectedHour"
          type="button"
          class="btn btn-primary btn-back"
          (click)="hourSelected(null)"
        >
          Back
        </button>
        <button
          *ngIf="selectedHour"
          type="submit"
          class="btn btn-primary"
          form="reservationForm"
        >
          Reserve
        </button>
      </div>
    </div>
  </div>
</div>
