<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">
          Make a reservation
        </h1>
        <button
          type="button"
          class="btn-close text-white"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="resetValues()"
        ></button>
      </div>
      <div class="modal-body d-flex align-items-center justify-content-center">
        <div *ngIf="!selectedHour" @fadeIn>
          <div class="container-lg d-flex flex-wrap justify-content-around">
            <div class="left-side">
              <mat-card class="inline-calendar-card mb-2">
                <mat-calendar
                  [(selected)]="selectedDate"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  (selectedChange)="dataSelected()"
                ></mat-calendar>
              </mat-card>
            </div>

            <div
              class="right-side d-flex flex-wrap justify-content-center align-items-start"
            >
              <div class="input-group mb-2">
                <label class="input-group-text" for="peopleSelect"
                  ><i class="bi bi-person-fill text-primary"></i
                ></label>
                <select
                  class="form-select"
                  id="peopleSelect"
                  aria-label="People number"
                  [(ngModel)]="selectedPeopleNumber"
                  (ngModelChange)="dataSelected()"
                >
                  <option value="1" selected>One People</option>
                  <option value="2">Two People</option>
                  <option value="3">Three People</option>
                  <option value="4">Four People</option>
                </select>
              </div>
              <ng-container *ngIf="!selectedDate">
                <div class="container-date-info text-center" @fadeIn>
                  <h5>Please select a date</h5>
                  <h6>So that we can show the available hours</h6>
                </div>
              </ng-container>
              <ng-container *ngIf="selectedDate">
                <div
                  class="container-hours d-flex flex-wrap justify-content-center"
                >
                  <app-spinner [size]="spinnerSize"></app-spinner>

                  <ng-container
                    *ngIf="hoursLoaded && availableHours.length === 0"
                    ><div class="container-date-info text-center" @fadeIn>
                      <h5>We are sorry, all hours are reserved</h5>
                      <h6>Please select a different date</h6>
                    </div>
                  </ng-container>
                  <ng-container *ngFor="let hour of availableHours">
                    <div class="container-hour" @fadeIn>
                      <button
                        type="button"
                        class="btn btn-hour mx-1"
                        (click)="hourSelected(hour)"
                      >
                        {{ hour }}
                      </button>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <ng-container *ngIf="selectedHour && !creatingStatus">
          <div @fadeIn class="container details bg-white">
            <div class="text-center">
              <span class="reservation-details text-primary">
                Reservation for
                <strong class="reservation-details-strong"
                  >{{ selectedPeopleNumber }} people</strong
                ><br />on
                <strong class="reservation-details-strong">{{
                  formatedDate
                }}</strong>
                at
                <strong class="reservation-details-strong">{{
                  selectedHour
                }}</strong
                >.
              </span>
            </div>

            <form
              appFocusInvalidInput
              [formGroup]="reservationForm"
              (submit)="onSubmit()"
              class="mx-auto my-2 d-flex flex-wrap justify-content-center"
              id="reservationForm"
            >
              <div class="form-field input-field">
                <label class="form-label" for="firstNameInput"
                  >First Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                  placeholder="Enter your first name"
                  id="firstNameInput"
                  [class.is-invalid]="
                    checkControlInvalid(reservationForm.controls.firstName)
                  "
                  style="text-transform: capitalize"
                />
                <div
                  *ngIf="
                    checkControlInvalid(reservationForm.controls.firstName)
                  "
                  class="text-danger"
                >
                  <small>
                    {{
                      getErrorMessage(reservationForm.controls.firstName)
                    }}</small
                  >
                </div>
              </div>

              <div class="form-field input-field">
                <label class="form-label" for="secondNameInput"
                  >Second Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="secondName"
                  placeholder="Enter your second name"
                  id="secondNameInput"
                  [class.is-invalid]="
                    checkControlInvalid(reservationForm.controls.secondName)
                  "
                  style="text-transform: capitalize"
                />
                <div
                  *ngIf="
                    checkControlInvalid(reservationForm.controls.secondName)
                  "
                  class="text-danger"
                >
                  <small>
                    {{
                      getErrorMessage(reservationForm.controls.secondName)
                    }}</small
                  >
                </div>
              </div>
              <div class="form-field input-field">
                <label class="form-label" for="emailInput">Email address</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  placeholder="name@address.com"
                  id="emailInput"
                  [class.is-invalid]="
                    checkControlInvalid(reservationForm.controls.email)
                  "
                />
                <div
                  *ngIf="checkControlInvalid(reservationForm.controls.email)"
                  class="text-danger"
                >
                  <small>
                    {{ getErrorMessage(reservationForm.controls.email) }}</small
                  >
                </div>
              </div>
              <div class="form-field input-field">
                <label class="form-label" for="phoneInput">Phone number</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  [mask]="'000 000 000'"
                  placeholder="000 000 000"
                  id="phoneInput"
                  [class.is-invalid]="
                    checkControlInvalid(reservationForm.controls.phone)
                  "
                />
                <div
                  *ngIf="checkControlInvalid(reservationForm.controls.phone)"
                  class="text-danger"
                >
                  <small>
                    {{
                      getErrorMessage(
                        reservationForm.controls.phone,
                        "phone number"
                      )
                    }}</small
                  >
                </div>
              </div>
              <div class="form-field input-field text-area">
                <label class="form-label" for="requestsInput"
                  >Special requests</label
                >
                <textarea
                  type="text"
                  class="form-control"
                  formControlName="requests"
                  maxlength="50"
                  placeholder="If you have any special requests please enter them here. (Optional)"
                  id="requestsInput"
                  rows="2"
                ></textarea>
                <div class="char-counter d-flex justify-content-end">
                  <span>
                    {{
                      reservationForm.controls.requests.value.length
                    }}/50</span
                  >
                </div>
              </div>
              <div class="container-additional-options mt-2">
                <h6>Additional options:</h6>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="wheelchairCheckbox"
                    formControlName="wheelchair"
                  />
                  <label class="form-check-label" for="wheelchairCheckbox"
                    >Wheelchair Access</label
                  >
                </div>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="babyCheckbox"
                    formControlName="baby"
                  />
                  <label class="form-check-label" for="babyCheckbox"
                    >Baby</label
                  >
                </div>
                <div class="form-check form-switch">
                  <label class="form-check-label" for="cakeCheckbox"
                    >Birthday Cake</label
                  >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="cakeCheckbox"
                    formControlName="cake"
                  />
                </div>
              </div>
            </form>
          </div>
        </ng-container>
        <ng-container *ngIf="creatingStatus"
          ><div
            class="container info d-flex flex-wrap justify-content-center align-items-center"
          >
            <div
              class="container info-status d-flex flex-wrap justify-content-center text-center mb-5"
            >
              <app-spinner [size]="spinnerSize" class="mb-4"></app-spinner>
              <i
                *ngIf="creatingStatus === 'Created'"
                class="bi bi-check-square-fill text-primary"
              ></i>
              <i
                *ngIf="creatingStatus === 'Failed'"
                class="bi bi-x-square-fill text-danger"
              ></i>
              <h1 class="info-status mb-0">
                {{
                  creatingStatus === "Created"
                    ? "Reservation created!"
                    : creatingStatus === "Creating"
                    ? "Reservation creating!"
                    : "Reservation creating failed!"
                }}
              </h1>
              <h6 class="px-2 text-primary" [innerHTML]="creatingMessage"></h6>
            </div>

            <div class="container text-center">
              <ng-container *ngIf="createdReservation">
                <h3>Cancel Reservation</h3>
                <h6 class="mb-3 px-2 text-primary">
                  {{
                    user
                      ? "You can cancel reservation in your reservations history or by contacting our team."
                      : "You can cancel reservation by contacting our team."
                  }}
                  Please note that cancellation is possible
                  <strong>at least 12 hours before</strong>
                  the reservation date.
                </h6>
                <h6 class="mb-0 text-primary">Tel: 000 000 000</h6>
                <h6 class="mb-5 text-primary">E-mail: navbar@example.com</h6>
                <h3>Reservation details</h3>
                <h6 class="mb-0 text-primary">
                  <span class="text-capitalize"
                    >{{ createdReservation.personalData.firstName + " " }}
                  </span>
                  <span class="text-capitalize">{{
                    createdReservation.personalData.secondName
                  }}</span>
                </h6>
                <h6 class="mb-0 text-primary">
                  {{ createdReservation.personalData.email + ", "
                  }}{{ createdReservation.personalData.phone }}
                </h6>
                <h6 class="text-primary mb-0">
                  on {{ formatedDate }} at {{ createdReservation.hour }}
                </h6>
                <h6 class="text-primary">
                  for
                  {{ createdReservation.peopleNumber }} people, table number
                  {{ createdReservation.tableNumber }}
                </h6>
              </ng-container>
            </div>
          </div></ng-container
        >
      </div>

      <div class="modal-footer">
        <button
          *ngIf="
            selectedHour && (creatingStatus === 'Failed' || !creatingStatus)
          "
          type="button"
          class="btn btn-outline-primary btn-lg"
          (click)="hourSelected(null)"
        >
          Back
        </button>
        <button
          *ngIf="selectedHour && !creatingStatus"
          type="submit"
          class="btn btn-primary btn-lg px-5"
          form="reservationForm"
        >
          Reserve
        </button>
      </div>
    </div>
  </div>
</div>
