.inline-calendar-card {
  width: 300px;
}

.left-side {
  flex-basis: 40%;
}
.right-side {
  flex-basis: 55%;
}

.container-hours {
  min-width: 300px;
  flex-basis: 100%;
  row-gap: 5px;
}

.container-hour {
  max-height: 40px;
}

.container.info {
  min-height: 225px;
}

.form-select {
  width: 250px;
  height: 50px;
}

.btn-hour {
  color: #4e5140;
  box-shadow: 0 0 5px rgba(78, 81, 64, 0.5);
  border: 1px solid rgba(78, 81, 64, 0.5);
  min-width: 140px;
}

.btn-hour:hover {
  color: white;
  background-color: #4e5140;
}

.reservation-details {
  font-size: 1.2rem;
}

strong {
  font-weight: 500;
  color: black;
}

form {
  width: 90%;
  box-sizing: border-box;
}

.form-field {
  width: 300px;
}

.modal-footer {
  min-height: 60px;
}

.text-area {
  width: 600px;
}

.container-additional-options {
  width: 600px;
  padding: 0 20px;
}

.form-control::placeholder {
  text-transform: none;
}

.spinner {
  flex-basis: 100%;
}

.bi {
  font-size: 5rem;
}

@media (max-height: 700px) {
  .container.details {
    padding-top: 100px;
  }

  .modal-footer {
    min-height: 0px;
  }
}
