h5 {
  font-weight: 400;
}

.reservation-details {
  font-size: 1.2rem;
}

strong {
  font-weight: 500;
  color: black;
}

.modal-reservation-details {
  min-height: 284px;
}

.container-reservation-details {
  height: 100%;
}

.alert {
  padding: 0px;
}

.text-error {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  margin-left: 4px;
}

.bi {
  font-size: 40px;
}
