.container-reservations {
  position: relative;
}

.container-table {
  position: relative;
  min-height: 200px;
  max-height: 576px;
  overflow: auto;
}

th {
  font-size: 1.2rem;
}

td {
  color: #4e5140;
  font-weight: 500;
}

table {
  width: 465px;
}

.mat-column-id {
  max-width: 80px;
}

.mat-column-date {
  width: 145px;
}

.mat-column-status {
  width: 120px;
}

.mat-column-action {
  width: 200px;
}

.loading-shade {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 56px;
  right: 0;
  background: transparent;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  width: 155px;
  height: 40px;
  border: 1px solid rgba(78, 81, 64, 0.5);
  box-shadow: 0 0 5px rgba(78, 81, 64, 0.5);
  border-radius: 5px;
}

.input-group:focus {
  box-shadow: 0 0 8px rgba(78, 81, 64, 0.8);
}

.input-group-text {
  background-color: white;
  padding: 0px 0px 0px 10px;
}

.form-select {
  padding: 6px 25px 6px 10px;
}

.form-select,
.form-select:focus,
.input-group-text {
  box-shadow: none;
  border: none;
}

select option[disabled]:first-child {
  display: none;
}

@media (max-width: 991.9px) {
  .container-table {
    max-height: 524px;
  }
}

@media (max-height: 845px) and (max-width: 991.9px) {
  .container-table {
    max-height: 425px;
  }
}

@media (max-height: 700px) {
  .container-table {
    max-height: 316px;
  }
}
