// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$restaurant-app-palette: (
  50: #fbfeea,
  100: #f6f9e5,
  200: #f1f5e0,
  300: #ecefda,
  400: #caceba,
  500: #adb09d,
  600: #838673,
  700: #6e715f,
  800: #4e5140,
  900: #2b2f1f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);

$restaurant-app-fe-primary: mat.define-palette(
  $restaurant-app-palette,
  800,
  500,
  900
);
$restaurant-app-fe-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$restaurant-app-fe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$restaurant-app-fe-theme: mat.define-light-theme(
  (
    color: (
      primary: $restaurant-app-fe-primary,
      accent: $restaurant-app-fe-accent,
      warn: $restaurant-app-fe-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($restaurant-app-fe-theme);

$primary: #4e5140;
$input-placeholder-color: rgba(78, 81, 64, 0.6);
$btn-close-color: white;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "node_modules/angular-notifier/styles";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #4e5140;

    body {
      scrollbar-color: #888 transparent;
    }
  }
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.form-select,
.form-control {
  border: 1px solid rgba(78, 81, 64, 0.5);
  box-shadow: 0 0 5px rgba(78, 81, 64, 0.5);
}

.form-control.is-invalid,
.form-select.is-invalid {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.form-control.is-invalid:focus,
.form-select.is-invalid:focus {
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
}

.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 8px rgba(78, 81, 64, 0.8);
}

.input-field {
  min-height: 86px;
}

.form-label {
  margin-bottom: 0px;
  font-weight: 500;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 20px;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
}

.alert {
  border-radius: 0;
}

.modal-footer {
  border-color: white;
}
