<form
  appFocusInvalidInput
  [formGroup]="registerForm"
  (submit)="onSubmit()"
  @fadeIn
>
  <h1 class="text-primary text-center">Register</h1>
  <div class="form-field input-field">
    <label class="form-label" for="emailInput">Email address</label>
    <input
      type="text"
      class="form-control"
      formControlName="email"
      placeholder="name@address.com"
      id="emailInput"
      [class.is-invalid]="checkControlInvalid(registerForm.controls.email)"
    />
    <div
      *ngIf="checkControlInvalid(registerForm.controls.email)"
      class="text-danger"
    >
      <small> {{ getErrorMessage(registerForm.controls.email) }}</small>
    </div>
  </div>
  <div class="form-field input-field">
    <label class="form-label" for="passwordInput">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Enter your password"
      id="passwordInput"
      [class.is-invalid]="checkControlInvalid(registerForm.controls.password)"
    />
    <div
      *ngIf="checkControlInvalid(registerForm.controls.password)"
      class="text-danger"
    >
      <small>
        {{ getErrorMessage(registerForm.controls.password) }}
      </small>
    </div>
  </div>
  <div class="form-field button">
    <button class="btn btn-primary mx-4 mt-1" type="submit">Register</button>
  </div>
  <p class="text-center mt-2 mb-0">
    Alredy registered?
    <a href="javascript:void(0);" (click)="changeDisplay()">Sign in</a>
  </p>
</form>
