<form
  appFocusInvalidInput
  [formGroup]="registerForm"
  (submit)="onSubmit()"
  @fadeIn
>
  <h1 class="text-primary text-center">Register</h1>
  <div *ngIf="error$ | async as error" class="alert mb-1" role="alert">
    <div class="d-flex align-items-center">
      <i class="bi bi-x-square-fill text-danger m-0"></i>
      <span class="text-error">{{ error.error }}</span>
    </div>
  </div>
  <div class="form-field input-field">
    <label class="form-label" for="emailInput">Email address</label>
    <input
      type="text"
      class="form-control"
      formControlName="email"
      placeholder="name@address.com"
      id="emailInput"
      [class.is-invalid]="checkControlInvalid(registerForm.controls.email)"
    />
    <div
      *ngIf="checkControlInvalid(registerForm.controls.email)"
      class="text-danger"
    >
      <small> {{ getErrorMessage(registerForm.controls.email) }}</small>
    </div>
  </div>
  <div class="form-field input-field">
    <label class="form-label" for="passwordInput">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Enter your password"
      id="passwordInput"
      [class.is-invalid]="checkControlInvalid(registerForm.controls.password)"
    />
    <div
      *ngIf="checkControlInvalid(registerForm.controls.password)"
      class="text-danger"
    >
      <small>
        {{ getErrorMessage(registerForm.controls.password) }}
      </small>
    </div>
  </div>
  <div class="form-field button">
    <button
      *ngIf="!(loading$ | async)"
      class="btn btn-primary mx-4 mt-1"
      type="submit"
    >
      Register
    </button>
    <ng-container *ngIf="loading$ | async">
      <div class="spinner-container mx-auto">
        <app-spinner [size]="spinnerSize"></app-spinner>
      </div>
    </ng-container>
  </div>
  <p class="text-center mt-2 mb-0">
    Alredy registered?
    <a href="javascript:void(0);" (click)="changeDisplay()">Sign in</a>
  </p>
</form>
