form {
  width: 400px;
  box-sizing: border-box;
}

.alert {
  padding: 0 20px;
}

.text-error {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 14px;
  margin-left: 4px;
}

.bi {
  font-size: 25px;
}
