<div class="container d-flex justify-content-center mt-4">
  <form
    appFocusInvalidInput
    [formGroup]="changePasswordForm"
    (submit)="onSubmit()"
    @fadeIn
  >
    <h1 class="text-primary text-center">Change password</h1>
    <div *ngIf="errorMessage" class="alert mb-1" role="alert">
      <div class="d-flex align-items-center">
        <i class="bi bi-x-square-fill text-danger m-0"></i>
        <span class="text-error">{{ errorMessage }} </span>
      </div>
    </div>
    <div class="form-field input-field">
      <label class="form-label" for="passwordInput">Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Enter your password"
        id="passwordInput"
        [class.is-invalid]="
          checkControlInvalid(changePasswordForm.controls.password)
        "
      />
      <div
        *ngIf="checkControlInvalid(changePasswordForm.controls.password)"
        class="text-danger"
      >
        <small>
          {{ getErrorMessage(changePasswordForm.controls.password) }}</small
        >
      </div>
    </div>
    <div class="form-field input-field">
      <label class="form-label" for="newPasswordInput">New password</label>
      <input
        type="password"
        class="form-control"
        formControlName="newPassword"
        placeholder="Enter new password"
        id="newPasswordInput"
        [class.is-invalid]="
          checkControlInvalid(changePasswordForm.controls.newPassword)
        "
      />
      <div
        *ngIf="checkControlInvalid(changePasswordForm.controls.newPassword)"
        class="text-danger"
      >
        <small>
          {{ getErrorMessage(changePasswordForm.controls.newPassword) }}</small
        >
      </div>
    </div>
    <div class="form-field input-field">
      <label class="form-label" for="repeatNewPasswordInput"
        >Repeat new password</label
      >
      <input
        type="password"
        class="form-control"
        formControlName="repeatNewPassword"
        placeholder="Repeat new password"
        id="repeatNewPasswordInput"
        [class.is-invalid]="
          checkControlInvalid(changePasswordForm.controls.repeatNewPassword)
        "
      />
      <div
        *ngIf="
          checkControlInvalid(changePasswordForm.controls.repeatNewPassword)
        "
        class="text-danger"
      >
        <small>
          {{
            getErrorMessage(changePasswordForm.controls.repeatNewPassword)
          }}</small
        >
      </div>
    </div>
    <div class="form-field button">
      <button
        *ngIf="!isLoading"
        class="btn btn-primary mx-4 mt-1"
        type="submit"
      >
        Change
      </button>
      <div class="mx-auto" *ngIf="isLoading">
        <app-spinner [size]="spinnerSize"></app-spinner>
      </div>
    </div>
  </form>
</div>
